@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-carbon-bg text-carbon-text-primary antialiased;
  }

  body {
    @apply font-sans text-base leading-relaxed;
  }

  ::selection {
    @apply bg-white/10;
  }
}
